
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>VYSOS Status</title>
    <meta http-equiv="content-type"
    content="text/html; charset=ISO-8859-1">

    <style>
        p {
            font-family: Arial, Helvetica, sans-serif;
        }
        table
        {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse:collapse;
            margin-left: auto;
            margin-right: auto;
        }
        table,th,td
        {
            font-family: Arial, Helvetica, sans-serif;
            border:1px solid black;
            vertical-align: top;
            text-align: center; 
            padding-top: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
    </style>

</head>
<body>
<center>
<!-- ###################################### -->
<!-- Time, Weather, and Disks -->
<!-- ###################################### -->
<table>
    <tr>
        <th style="width: 300px;">Time</td>
        <th style="width: 200px; text-align: right;">Weather</td>
        <th style="width: 150px; text-align: left;">
        {% if currentweather is None %}
            <font color="red">None</font>
        {% elif (now[1] - currentweather['date']).total_seconds() < 120 %}
            {% if currentweather['safe'] == True %} <font color="green">Safe</font>
            {% elif currentweather['safe'] == False %} <font color="red">Unsafe</font>
            {% else %} <font color="red">Unknown</font> {% end %}
        {% else %}
            <font color="red">Stale</font>
        {% end %}
        </td>
        <th style="width: 250px;">Disks</td>
    </tr>
    <tr>
        <td style="text-align: left;">{{ now[0].strftime('%Y/%m/%d %H:%M:%S HST') }}</td>
        <td style="text-align: right;">Ambient Temperature:</td>
        <td style="text-align: left;">
        {% if currentweather is None %}
            <font color="red"></font>
        {% elif currentweather['temp'] %}
        {{ '{:.1f} C, {:.1f} F'.format(float(currentweather['temp']), float(currentweather['temp'])*1.8+32.) }}
        {% end %}
        </td>
        <td style="text-align: right;">
        {% if 'Drobo' in disks.keys() %}
            {% if disks['Drobo'][1] < 300 %}
                <font color="red"> 
            {% else %}
                <font color="black"> 
            {% end %}
            <font style="font-family: Courier, monospace">Drobo</font>: {{ '{:.0f}GB free ({:.0f}% full)'.format(disks['Drobo'][1], disks['Drobo'][2]) }}
        {% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: left;">{{ now[1].strftime('%Y/%m/%d %H:%M:%S UT') }}</td>
        <td style="text-align: right;">Cloudiness:</td>
        <td style="text-align: left;">
        {% if currentweather is None %}
            <font color="red"></font>
        {% elif currentweather['clouds'] %}
            {% if currentweather['clouds'] < weather_limits['Cloudiness (C)'][0] %}
                <font color="green">Clear</font>
            {% elif currentweather['clouds'] >= weather_limits['Cloudiness (C)'][0] and currentweather['clouds'] < weather_limits['Cloudiness (C)'][1] %}
                <font color="yellow">Cloudy</font>
            {% elif currentweather['clouds'] >= weather_limits['Cloudiness (C)'][1] %}
                <font color="red">Overcast</font>
            {% else %}
                <font color="red">Unknown</font>
            {% end %}
            {{ ' ({:.1f} C)'.format(currentweather['clouds']) }}
        {% end %}
        </td>
        <td style="text-align: right;">
        {% if 'macOS' in disks.keys() %}
            {% if disks['macOS'][1] < 40 %}
                <font color="red"> 
            {% else %}
                <font color="black"> 
            {% end %}
            <font style="font-family: Courier, monospace">macOS</font>: {{ '{:.0f}GB free ({:.0f}% full)'.format(disks['macOS'][1], disks['macOS'][2]) }}</font>
        {% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: left;">{{ 'It is currently {} (Sun alt = {:.0f})'.format(sun['now'], sun['alt']) }}</td>
        <td style="text-align: right;">Wind Speed:</td>
        <td style="text-align: left;">
        {% if currentweather is None %}
            <font color="red"></font>
        {% elif currentweather['wind'] %}
            {% if currentweather['wind'] < weather_limits['Wind (kph)'][0] %}
                <font color="green">Calm</font>
            {% elif currentweather['wind'] >= weather_limits['Wind (kph)'][0] and currentweather['wind'] < weather_limits['Wind (kph)'][1] %}
                <font color="yellow">Windy</font>
            {% elif currentweather['wind'] >= weather_limits['Wind (kph)'][1] %}
                <font color="red">Very Windy</font>
            {% else %}
                <font color="red">Unknown</font>
            {% end %}
            {{ '({:.1f} kph)'.format(currentweather['wind']) }}
        {% end %}
        </td>
        <td style="text-align: right;">
        </td>
    </tr>
    <tr>
        <td style="text-align: left;">{{ 'A {:.0f}% illuminated moon is {}'.format(moon['phase'], moon['now']) }}</td>
        <td style="text-align: right;">Gusts:</td>
        <td style="text-align: left;">
        {% if currentweather is None %}
            <font color="red"></font>
        {% elif currentweather['gust'] %}
            {% if currentweather['gust'] < weather_limits['Wind (kph)'][0] %}
                <font color="green">Calm</font>
            {% elif currentweather['gust'] >= weather_limits['Wind (kph)'][0] and currentweather['gust'] < weather_limits['Wind (kph)'][1] %}
                <font color="yellow">Windy</font>
            {% elif currentweather['gust'] >= weather_limits['Wind (kph)'][1] %}
                <font color="red">Very Windy</font>
            {% else %}
                <font color="red">Unknown</font>
            {% end %}
            {{ '({:.1f} kph)'.format(currentweather['gust']) }}
        {% end %}
        </td>
        <td style="text-align: right;"></td>
    </tr>
    <tr>
        <td style="text-align: left;">
        {% if sun['rise'] < sun['set'] %}
            {{ 'Next sunrise is at {}'.format(sun['rise'].strftime('%Y/%m/%d %H:%M:%S UT')) }}
        {% else %}
            {{ 'Next sunset is at {}'.format(sun['set'].strftime('%Y/%m/%d %H:%M:%S UT')) }}
        {% end %} 
        </td>
        <td style="text-align: right;">Rain:</td>
        <td style="text-align: left;">
        {% if currentweather is None %}
            <font color="red"></font>
        {% elif currentweather['rain'] %}
            {% if currentweather['rain'] > weather_limits['Rain'][0] %}
                <font color="green">Dry</font>
            {% elif currentweather['rain'] <= weather_limits['Rain'][0] %}
                <font color="red">Wet</font>
            {% else %}
                <font color="red">Unknown</font>
            {% end %}
            {{ '({:d})'.format(currentweather['rain']) }}
        {% end %}

        </td>
        <td style="text-align: right;"></td>
    </tr>
    <tr>
        <td style="text-align: left;">
        {% if sun['rise'] > sun['set'] %}
            {{ 'Next sunrise is at {}'.format(sun['rise'].strftime('%Y/%m/%d %H:%M:%S UT')) }}
        {% else %}
            {{ 'Next sunset is at {}'.format(sun['set'].strftime('%Y/%m/%d %H:%M:%S UT')) }}
        {% end %} 
        </td>
        <td style="text-align: right;">
        <a href="https://www.esrl.noaa.gov/gmd/obop/mlo/met.html">MLO Weather Data</a>
        </td>
        <td style="text-align: left;">
        </td>
        {% if currentweather is not None %}
            <td style="text-align: right;">Weather Data Age: {{ '{:.1f}s'.format((now[1] - currentweather['date']).total_seconds()) }}</td>
        {% end %}
    </tr>
</table>

<!-- ###################################### -->
<!-- Weather Plot -->
<!-- ###################################### -->
<a href="static/weather.png" ><img width=900px src="static/weather.png"></a>
<br>

<!-- ###################################### -->
<!-- Telescope Status and All Sky Image -->
<!-- ###################################### -->

<table>
    <tr>
        <th style="width: 200px;">Status</td>
        <th style="width: 150px;">VYSOS-20</td>
        <th style="width: 150px;">VYSOS-5</td>
        <th style="width: 400px;">ATLAS All Sky Image</td>
    </tr>
    <tr>
        <td style="text-align: right;">Dome Status:</td>
        <td style="text-align: left;">
            {% if 'dome_shutterstatus' in telstatus['V20'] %}
                {% if telstatus['V20']['dome_shutterstatus'] == 0 %}
                    <font color="green">Open</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 1 %}
                    <font color="red">Closed</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 2 %}
                    <font color="orange">Opening</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 3 %}
                    <font color="orange">Closing</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 4 %}
                    <font color="red">{{ telstatus['V20']['shutter_str'] }}</font>
                {% else %}
                    <font color="black">{{ telstatus['V20']['dome_shutterstatus'] }}</font>
                {% end %}
            {% end %}
        </td>
        <td style="text-align: left;">
            {% if 'dome_shutterstatus' in telstatus['V5'] %}
                {% if telstatus['V20']['dome_shutterstatus'] == 0 %}
                    <font color="green">Open</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 1 %}
                    <font color="red">Closed</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 2 %}
                    <font color="orange">Opening</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 3 %}
                    <font color="orange">Closing</font>
                {% elif telstatus['V20']['dome_shutterstatus'] == 4 %}
                    <font color="red">{{ telstatus['V20']['shutter_str'] }}</font>
                {% else %}
                    <font color="black">{{ telstatus['V20']['dome_shutterstatus'] }}</font>
                {% end %}
            {% end %}
        </td>
        <td rowspan=16 style="vertical-align: middle;">
            <table style="border:0px; border-style: none;">
                <tr style="border:0px; border-style: none;">
                    <td style="border:0px; border-style: none; vertical-align: middle;">E</td>
                    <td style="border:0px; border-style: none;">
                        N<br>
                        <a href="http://www.fallingstar.com/weather/">
                            <img width=350 src="http://www.fallingstar.com/weather/mlo/latest_bw400.jpg">
                        </a><br>
                        S
                    </td>
                    <td style="border:0px; border-style: none; vertical-align: middle;">W</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">ACP Connected:</td>
        <td style="text-align: left;">
            {% if 'connected' in telstatus['V20'] %}{{ telstatus['V20']['connected'] }}{% end %}
        </td>
        <td style="text-align: left;">
            {% if 'connected' in telstatus['V5'] %}{{ telstatus['V5']['connected'] }}{% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Status:</td>
        <td style="text-align: left;">
            {% if telstatus['V20']['connected'] %}
                {% if telstatus['V20']['slewing'] %} <font color="orange">Slewing</font>
                {% elif telstatus['V20']['tracking'] %} <font color="green">Tracking</font>
                {% elif telstatus['V20']['park'] %} <font color="black">Parked</font>
                {% else %} <font color="black">Stationary</font>
                {% end %}
            {% end %}
        </td>
        <td style="text-align: left;">
            {% if telstatus['V5']['connected'] %}
                {% if telstatus['V5']['slewing'] %} <font color="orange">Slewing</font>
                {% elif telstatus['V5']['tracking'] %} <font color="green">Tracking</font>
                {% elif telstatus['V5']['park'] %} <font color="black">Parked</font>
                {% else %} <font color="black">Stationary</font>
                {% end %}
            {% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Alt:</td>
        <td style="text-align: left;">
            {% if 'alt' in telstatus['V20'] %}{{ '{:.1f}'.format(telstatus['V20']['alt']) }}{% end %}
        </td>
        <td style="text-align: left;">
            {% if 'alt' in telstatus['V5'] %}{{ '{:.1f}'.format(telstatus['V5']['alt']) }}{% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Az:</td>
        <td style="text-align: left;">
            {% if 'az' in telstatus['V20'] %}{{ '{:.1f}'.format(telstatus['V20']['az']) }}{% end %}
        </td>
        <td style="text-align: left;">
            {% if 'az' in telstatus['V5'] %}{{ '{:.1f}'.format(telstatus['V5']['az']) }}{% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Target RA (Jnow):</td>
        <td style="text-align: left;">
            {% if 'RA' in telstatus['V20'] %}{{ '{}'.format(telstatus['V20']['RA']) }}{% end %}
        </td>
        <td style="text-align: left;">
            {% if 'RA' in telstatus['V5'] %}{{ '{}'.format(telstatus['V5']['RA']) }}{% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Target Dec (Jnow):</td>
        <td style="text-align: left;">
            {% if 'DEC' in telstatus['V20'] %}{{ '{}'.format(telstatus['V20']['DEC']) }}{% end %}
        </td>
        <td style="text-align: left;">
            {% if 'DEC' in telstatus['V5'] %}{{ '{}'.format(telstatus['V5']['DEC']) }}{% end %}
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">ACP Data Age:</td>
        <td style="text-align: left;">
            {{ '{:.1f} min'.format((now[1]-telstatus['V20']['date']).total_seconds()/60.) }}
        </td>
        <td style="text-align: left;">
            {{ '{:.1f} min'.format((now[1]-telstatus['V5']['date']).total_seconds()/60.) }}
        </td>
    </tr>
    <tr>
        <td colspan=3> </td>
    </tr>
    <tr>
        <th style="text-align: center;">{{ files_string }}</td>
        <th>VYSOS-20</td>
        <th>VYSOS-5</td>
    </tr>
    <tr>
        <td style="text-align: right;">N Images on Disk:</td>
        <td style="text-align: left;">{{ '{:d}'.format(len(v20_images)) }}</td>
        <td style="text-align: left;">{{ '{:d}'.format(len(v5_images)) }}</td>
    </tr>
    <tr>
        <td style="text-align: right;">N Flats/Cals on Disk:</td>
        <td style="text-align: left;">{{ '{:d}/{:d}'.format(len(v20_flats), len(v20_cals)) }}</td>
        <td style="text-align: left;">{{ '{:d}/{:d}'.format(len(v5_flats), len(v5_cals)) }}</td>
    </tr>
    <tr>
        <td style="text-align: right;">Analyzed Images List:</td>
        <td style="text-align: left;">
            <a href="{{ '/V20/{}'.format(link_date_string) }}">{{ link_date_string }}</a>
        </td>
        <td style="text-align: left;">
            <a href="{{ '/V5/{}'.format(link_date_string) }}">{{ link_date_string }}</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">Night Summary:</td>
        <td style="text-align: left;">
            <a href="{{ '/static/nights/{}_V20.png'.format(link_date_string) }}">
            {{ '{}_V20.png'.format(link_date_string) }}</a>
        </td>
        <td style="text-align: left;">
            <a href="{{ '/static/nights/{}_V5.png'.format(link_date_string) }}">
            {{ '{}_V5.png'.format(link_date_string) }}</a>
        </td>
    </tr>
    <tr>
        <td style="text-align: right;">List of Nights:</td>
        <td style="text-align: left;"><a href="V20/">VYSOS-20 Nights</a></td>
        <td style="text-align: left;"><a href="V5/">VYSOS-5 Nights</a></td>
    </tr>
    <tr>
        <td style="text-align: right;">List of Targets:</td>
        <td style="text-align: left;"><a href="V20/targets">VYSOS-20 Targets</a></td>
        <td style="text-align: left;"><a href="V5/targets">VYSOS-5 Targets</a></td>
    </tr>
    <tr>
        <td colspan=3> </td>
    </tr>
</table>

<!-- <iframe src="https://www.esrl.noaa.gov/gmd/obop/mlo/met.html" width="1080" height="600"></iframe> -->

</center>
</body>
</html>
